body {
  overflow-x: hidden;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  font-family: monospace;
  font-weight: bold;
  font-size: var(--fsize-norm);
  color: var(--color-fg);
}

main {
  display: flex;
  transition-duration: 500ms;
  width: 200%;
  height: calc(100% - var(--footer-height));
}

p {
  margin: 0px;
}

a {
  color: var(--color-ac);
}
