.room-card {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  margin: var(--fsize-norm);
  border: var(--border);
  width: max-content;
  height: max-content;
  padding: var(--fsize-norm);
}

.room-card > button {
  grid-row: 1 / 2;
  grid-column: 10 / 11;
  border: none;
  aspect-ratio: 1 / 1;
  background: var(--red);
}

.room-card div {
  grid-row: 2 / 11;
  grid-column: 1 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  border: var(--border);
  border-color: var(--color-fg);
  padding: var(--fsize-norm);
  width: max-content;
  height: max-content;
}

.room-card img {
  width: 256px;
  height: 144px;
}

/*
  room card template

  <div class="room-card">
    <button>x</button>
    <div>
      <a href="https://picsum.photos/" target="_blank">
        <img src="https://picsum.photos/256/144">
      </a>
      <p></p>
      <address></address>
      <a href="tel:"></a>
    </div>
  </div>
*/
