.room-card {
  margin: var(--fsize-norm);
  border-radius: var(--border-curve);
  border: var(--border);
  padding: var(--fsize-norm);
  width: max-content;
  height: max-content;
}

.rc-remove-btn {
  margin-left: auto;
  width: min-content;
}

.rc-img {
  object-fit: cover;
  border-radius: var(--border-curve);
  width: 256px;
  height: 144px;
}

.rc-info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}
/*
  room card template

  <div class="room-card">
    <div class="rc-remove-btn text-button">remove</div>
    <img class="rc-img" src="https://picsum.photos/256/144" loading="lazy">
    <div class="rc-dist rc-info">
      <p>distance: </p>
      <p>5 Km</p>
    </div>
    <div class="rc-address rc-info">
      <p>address: </p>
      <address>
        No555,
        foo road,
        bar.
      </address>
    </div>
    <div class="rc-telephone rc-info">
      <p>telephone: </p>
      <a href="tel:+55555555555" target="_blank">+55555555555</a>
    </div>
  </div>
*/
