:root {
  --black:  #282828;
  --red:    #fb4934;
  --white:  #ebdbb2;
  --yellow: #fabd2f;

  --color-ac:   var(--yellow);
  --color-bg:   var(--black);
  --color-bg-a: #3c3836;
  --color-fg:   var(--white);

  --fsize-norm: 14px;
  --fsize-head: calc(var(--fsize-norm) * 2);

  --border: 2px solid var(--white);
  --border-curve: 6px;

  --footer-height: calc(var(--fsize-norm) * 5);
}
